<br/>
<h2>Your movie collection:</h2>
<br>

<div class="movies-container">
  <mat-grid-list cols="10" rowHeight="1:1">
    <div *ngFor="let movie of movies">
      <a (click)="goToMovieDetails(movie.id)">
        <mat-grid-tile>
          <img [src]="movie.keyArtImages[0].url">
        </mat-grid-tile>
      </a>
    </div>
  </mat-grid-list>
</div>
