<div *ngIf="movie">
  <h3>{{ movie.headline }}</h3>

  <!-- Showcase movie images -->
  <angular-image-slider
    [autoRotate]="true"
    [autoRotateAfter]="3000"
    [autoRotateRight]="true"
    [images]="imageUrls"
  ></angular-image-slider>

  <p *ngIf="movie.year !== undefined && movie.year !== null"><b>Year:</b> {{ movie.year }}</p>
  <p *ngIf="movie.body !== undefined && movie.body !== null"><b>Review:</b> {{ movie.body }}</p>
  <p *ngIf="movie.reviewAuthor !== undefined && movie.reviewAuthor !== null"><b>Review author:</b> {{ movie.reviewAuthor }}</p>
  <p *ngIf="movie.cert !== undefined && movie.cert !== null"><b>Certification:</b> {{ movie.cert }}</p>
  <p *ngIf="movie.class !== undefined && movie.class !== null"><b>Class:</b> {{ movie.class }}</p>
  <p><b>Duration:</b> {{ movie.duration }}</p>
  <p *ngIf="movie.lastUpdated !== undefined && movie.lastUpdated !== null"><b>LastUpdated:</b> {{ movie.lastUpdated }}</p>
  <p *ngIf="movie.quote !== undefined && movie.quote !== null"><b>Quote:</b> {{ movie.quote }}</p>
  <p><b>Rating:</b> {{ movie.rating }}</p>
  <p *ngIf="movie.skyGoUrl !== undefined && movie.skyGoUrl !== null"><b>SkyGo URL:</b> {{ movie.skyGoUrl }}</p>
  <p *ngIf="movie.skyGoId !== undefined && movie.skyGoId !== null"><b>SkyGo ID:</b> {{ movie.skyGoId }}</p>
  <p><b>Checksum:</b> {{ movie.sum }}</p>

  <div *ngIf="movie.viewingWindow !== undefined">
    <h4><b>Viewing window:</b></h4>
    <p><b>Start date:</b> {{ movie.viewingWindow.startDate }}</p>
    <p><b>End date:</b> {{ movie.viewingWindow.endDate }}</p>
    <p><b>Way to watch:</b> {{ movie.viewingWindow.wayToWatch }}</p>
  </div>

  <br/>
</div>
